/*######################### BODY #########################*/

body {
  background-size:unset;
  background-repeat:repeat;
  background-attachment: fixed;
  background-image: url('/images/wallpaper.jpg');
  margin: 0px;
  font-family: 'Fredoka One', cursive;
  color: hsl(0, 0%, 96%);;
}

/*######################## HEADER ########################*/

#header {
  margin: 0px;
  background-color: hsl(0, 0%, 4%);
  padding-top: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.5em;
  text-align: center;
  font-size: 1.75em;
}
 
/*####################### PAGE-NAME ######################

.page-name {
  margin: 0px;
  background-color: hsl(0, 0%, 4%);
  padding-top: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.5em;
  text-align: center;
  font-size: 1em;
}*/

/*######################## NAVTAB ########################*/

.navtab {
  margin: 0px;
  background-color: hsl(0, 0%, 4%);
  padding-top: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
  font-size: 1em;
}

a:active {
  margin: 0.25em;
  padding: 0.5em;
  background-color: hsl(0, 0%, 96%);
  color: hsl(0, 0%, 4%);
  text-decoration: none;
}

a:link, a:visited {
  margin: 0.25em;
  padding: 0.5em;
  background-color: hsl(0, 0%, 4%);
  color: hsl(0, 0%, 96%);
  text-decoration: none;
}

a:hover {
  margin: 0.25em;
  padding: 0.5em;
  background-color: hsl(0, 0%, 16%);
  color: hsl(0, 0%, 96%);
  text-decoration: none;
}

/*###################### CONTENT-BOX #####################*/

.content-box {
  margin: 0px;
  padding-top: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.5em;
}

.content-box img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

/*######################## FOOTER ########################*/

.footer {
  margin: 0px;
  background-color: hsl(0, 0%, 4%);
  padding-top: 0.5em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 1em;
}

.footer img {
  padding-right: 0.5em;
  width: 5%;
}

.footer a:link, a:visited {
  margin: 0.25em;
  padding: 0.5em;
  background-color: transparent;
}

.footer a:hover, a:active {
  margin: 0.25em;
  padding: 0.5em;
  background-color: hsl(0, 0%, 96%);
  background-size: 0.25em;
}