
/* order {
    postion: ;
    top: 0;
    left: 0;
    overflow: hidden;

    margin: ;
    border: ;
    height: ;
    width: ;
    padding: ;

    display: ;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    background-color: ;
    color: ;
    text-align: center;
    align-content: center;
    outline: ;
    border-radius: ;
} */

/******************************************************************************
* GLOBAL
******************************************************************************/

/******************************************************************************
* MAIN
******************************************************************************/

* {
  text-decoration: none;
}

section {
  min-height: 100vh;
  padding-top: 3.5rem;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#hero {
  align-items: center;
}

img {
  height: 1.6rem;
  aspect-ratio: 1/1;
}

/******************************************************************************
* TEMPORARY OUTLINES
******************************************************************************/

/* * {outline: 1px solid white} */