
/* order {
    postion: ;
    top: 0;
    left: 0;
    overflow: hidden;

    margin: ;
    border: ;
    height: ;
    width: ;
    padding: ;

    display: ;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    background-color: ;
    color: ;
    text-align: center;
    align-content: center;
    outline: ;
    border-radius: ;
} */

/******************************************************************************
* ELEMENTS
******************************************************************************/

* {
  text-decoration: none;
}

section {
  min-height: 100vh;
  padding-top: 3.5rem;
}

h1:not(#hero-name) {
  margin-top: 3.5rem;
}

h2:not(#hero-role), #experience-container {
  margin-top: 2rem;
}

/******************************************************************************
* CLASS
******************************************************************************/

.icon {
  height: 1.6rem;
}

.experience-card:not(:first-child) {
  margin-top: 3rem;
}

.experience-card-img {
  height: 145px;
  aspect-ratio: 1/1;

  border-radius: 10px;
}

.highlight {
  font-weight: bold;
}

/******************************************************************************
* ID
******************************************************************************/

#hero {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#hero-pic {
  width: 250px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

/******************************************************************************
* MEDIA QUERIES
******************************************************************************/

@media (min-width: 1200px) {
  #hero {
    position: sticky;
    top: 0;
  }
}

/******************************************************************************
* TEMPORARY OUTLINES
******************************************************************************/

/* main    {outline: 1px solid hsl(  0, 100%,  50%)} */
/* section {outline: 1px solid hsl(  0,   0%, 100%)} */
/* h1       {outline: 1px solid red} */
/* h2       {outline: 1px solid green} */
